In [4]:
import spacy

# nlp = spacy.load("en_core_web_sm")
# doc = nlp(u"Apple       is looking &amp; at ':-)', ':)' didn't @gretelup > isn't he'll https://towardsdatascience.com  buying U.K. startup for $1 billion")
# for token in doc:
#     print(token.text)

In [7]:
nlp = spacy.load('en')

In [6]:
doc = nlp(u"Apple       is looking &amp; at ':-)', ':)' didn't @gretelup > isn't he'll https://towardsdatascience.com  buying U.K. startup for $1 billion")
for token in doc:
    print(token.text)

Apple

is
looking
&
amp
;
at
'
:-)
'
,
'
:)
'
did
n't
@gretelup
>
is
n't
he
'll
https://towardsdatascience.com

buying
U.K.
startup
for
$
1
billion

In [14]:
import pandas as pd
from datetime import datetime, timedelta

In [21]:
df = pd.read_csv("data/BidenTrain.csv", error_bad_lines=False)

In [22]:
df.head()

,Date,Favorite,ID,Retweet,Text
0,2019-07-31 13:20:35,0,1156555255473160194,0,-@CNN doesn't like @BernieSanders pointing out...
1,2019-07-31 13:20:32,0,1156555245700468742,0,@JoeBiden Disingenuous - #MedicareForAll Joe
2,2019-07-31 13:20:27,0,1156555221054758912,0,@TomPerez Now tonight we need @CoryBooker @Sen...
3,2019-07-31 13:20:25,0,1156555213710471168,0,Looking for a logo for National Twin Day. What...
4,2019-07-31 13:20:18,0,1156555183385694209,0,@CassLovesToTan @JoeBiden @joncoopertweets Tru...

In [23]:
df["Date"] = df["Date"].map(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S') - timedelta(hours=4))

In [24]:
df.head()

,Date,Favorite,ID,Retweet,Text
0,2019-07-31 09:20:35,0,1156555255473160194,0,-@CNN doesn't like @BernieSanders pointing out...
1,2019-07-31 09:20:32,0,1156555245700468742,0,@JoeBiden Disingenuous - #MedicareForAll Joe
2,2019-07-31 09:20:27,0,1156555221054758912,0,@TomPerez Now tonight we need @CoryBooker @Sen...
3,2019-07-31 09:20:25,0,1156555213710471168,0,Looking for a logo for National Twin Day. What...
4,2019-07-31 09:20:18,0,1156555183385694209,0,@CassLovesToTan @JoeBiden @joncoopertweets Tru...

In [7]:
type(date)

str

In [11]:
date2 = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')

In [12]:
date2

datetime.datetime(2019, 7, 31, 5, 45, 21)

In [15]:
date3 = date2 - timedelta(hours=4)

In [16]:
date3

datetime.datetime(2019, 7, 31, 1, 45, 21)